#profile{
    width: 100%;
    height: 500px;
}
#asidebar{
    position: fixed;
    top: 200px;
    right: 5px;
}
#name{
    text-align: center;
}
#picture{
    position: relative;
    margin-left: 500px;
    
}
.text{
    margin-left: 530px;;
}
.content{
    position: fixed;
    margin-left: 300px;
    display: block;
}